.footer {
    /*background: #f5f7fa;*/
    padding: 40px 20px;
    color: #666;
    font-family: Arial, sans-serif;
    max-width: 1300px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.footer-section p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    margin-right: 10px;
    display: inline-block;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
}

.email-input {
    display: flex;
    margin-top: 15px;
}

.email-input input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.email-input button {
    padding: 8px 15px;
    background: #ff6200;
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.email-input button:hover {
    background: #e65c00;
}